<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Entry</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
</head>

<body>
    <a href="{{ url_for('index') }}" class="home-button">Home</a>
    <header>Data Entry</header>
    <main>
        <div class="button-group">
            <button class="entry-button" id="project-btn">Add Project</button>
            <button class="entry-button" id="posts-btn">Add Posts to Project</button>
            <button class="entry-button" id="analysis-btn">Add Analysis Result</button>
        </div>

        <div id="project-form" class="form-section hidden">
            <input type="text" id="project-name" placeholder="Project Name" class="form-input" />
            <input type="text" id="manager-first-name" placeholder="Project Manager First Name" class="form-input" />
            <input type="text" id="manager-last-name" placeholder="Project Manager Last Name" class="form-input" />
            <input type="text" id="institute-name" placeholder="Institute Name" class="form-input" />
            <input type="text" id="start-date" placeholder="Start Date (mm/dd/yyyy)" class="form-input" />
            <input type="text" id="end-date" placeholder="End Date (mm/dd/yyyy)" class="form-input" />
            <button id="submit-project" class="submit-btn">Add</button>
            <!-- <label class="form-label">Start Date</label> -->
            <!-- <div class="date-row">
                <input type="text" placeholder="MM" class="date-input" maxlength="2">
                <input type="text" placeholder="DD" class="date-input" maxlength="2">
                <input type="text" placeholder="YYYY" class="date-input" maxlength="4">
            </div>
            <label class="form-label">End Date</label>
            <div class="date-row">
                <input type="text" placeholder="MM" class="date-input" maxlength="2">
                <input type="text" placeholder="DD" class="date-input" maxlength="2">
                <input type="text" placeholder="YYYY" class="date-input" maxlength="4">
            </div> -->

        </div>

        <div id="post-form" class="form-section hidden">
            <h3 class="form-subheader">Project</h3>
            <input type="text" id="project-name" placeholder="Project Name" class="form-input" />
          
            <h3 class="form-subheader">User Info</h3>
            <input type="text" id="username" placeholder="Username" class="form-input" />
            <input type="text" id="social-media" placeholder="Social Media" class="form-input" />
            <input type="text" id="first-name" placeholder="First Name" class="form-input" />
            <input type="text" id="last-name" placeholder="Last Name" class="form-input" />
            <input type="text" id="country-birth" placeholder="Country of Birth" class="form-input" />
            <input type="text" id="country-residence" placeholder="Country of Residence" class="form-input" />
            <input type="text" id="age" placeholder="Age" class="form-input" />
            <input type="text" id="gender" placeholder="Gender" class="form-input" />
            <input type="text" id="verified" placeholder="Verified (Yes/No)" class="form-input" />
          
            <h3 class="form-subheader">Original Post</h3>
            <input type="text" id="post-time" placeholder="Time of Post" class="form-input" />
            <input type="text" id="text" placeholder="Text of Post" class="form-input" />
            <input type="text" id="likes" placeholder="Likes" class="form-input" />
            <input type="text" id="dislikes" placeholder="Dislikes" class="form-input" />
            <input type="text" id="city" placeholder="City" class="form-input" />
            <input type="text" id="state" placeholder="State" class="form-input" />
            <input type="text" id="country" placeholder="Country" class="form-input" />
            <input type="text" id="multimedia" placeholder="Contains Multimedia (Yes/No)" class="form-input" />
          
            <h3 class="form-subheader">Repost</h3>
            <input type="text" id="repost-username" placeholder="Reposter's Username" class="form-input" />
            <input type="text" id="repost-social-media" placeholder="Reposter's Social Media" class="form-input" />
            <input type="text" id="repost-time" placeholder="Repost Time" class="form-input" />
            <input type="text" id="repost-city" placeholder="Repost City" class="form-input" />
            <input type="text" id="repost-state" placeholder="Repost State" class="form-input" />
            <input type="text" id="repost-country" placeholder="Repost Country" class="form-input" />
            <input type="text" id="repost-likes" placeholder="Repost Likes" class="form-input" />
            <input type="text" id="repost-dislikes" placeholder="Repost Dislikes" class="form-input" />
            <input type="text" id="repost-multimedia" placeholder="Repost Has Multimedia (Yes/No)" class="form-input" />

            <button id="submit-post" class="submit-btn">Add</button>

        </div>

        <div id="analysis-form" class="form-section hidden">
            <input type="text" id="project-name" placeholder="Project Name" class="form-input" />
            <input type="text" id="username" placeholder="Post Username" class="form-input" />
            <input type="text" id="social-media" placeholder="Post Social Media" class="form-input" />
            <input type="text" id="post-time" placeholder="Time of Post" class="form-input" />
            <input type="text" id="field-name" placeholder="Field Name" class="form-input" />
            <input type="text" id="analysis" placeholder="Analysis / Result" class="form-input" />
            <button id="submit-analysis" class="submit-btn">Add</button>
        </div>
          
          
          
    </main>

    <nav class="navbar">
        <a href="{{ url_for('entry') }}" class="nav-button">Data Entry</a>
        <a href="{{ url_for('query') }}" class="nav-button">Query</a>
        <a href="{{ url_for('results') }}" class="nav-button">Results</a>
    </nav>

    <script src="{{ url_for('static', filename='js/entry.js') }}"></script>

</body>
</html>
