<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Media Database</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <header>
        <h1>Social Media Database</h1>
    </header>

    <main id="content">
        <!-- <section id="data-entry" class="page active">
            <h2>Data Entry</h2>
        </section>

        <section id="query" class="page">
            <h2>Query</h2>
        </section>

        <section id="results" class="page">
            <h2>Results</h2>
        </section> -->
    </main>

    <nav class="navbar">
        <a href="entry.html" class="nav-button">Data Entry</a>
        <a href="query.html" class="nav-button">Query</a>
        <a href="results.html" class="nav-button">Results</a>
    </nav>
    

    <script src="js/script.js"></script>
</body>
</html>