<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Query</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>

<body>
    <a href="{{ url_for('index') }}" class="home-button">Home</a>
    <header>Query</header>
    <main>
        <div class="button-group">
            <button class="entry-button" id="project-btn">Find Post</button>
            <a href="/experiment_query" class="entry-button">Find Experiment</a>
        </div>

        <div id="post-form" class="form-section hidden">
            <input type="text" id="username" placeholder="* Username" class="form-input" />
            <input type="text" id="social-media" placeholder="* Social Media" class="form-input" />
            <label for="start-date">* Start Date:</label>
            <input type="date" id="start-date" class="form-input" />
            <label for="end-date">* End Date:</label>
            <input type="date" id="end-date" class="form-input" />
            <input type="text" id="first-name" placeholder="First Name" class="form-input" />
            <input type="text" id="last-name" placeholder="Last Name" class="form-input" />
            <button id="submit-post-btn" class="submit-btn">Search</button>

        </div>

        <div id="experiment-form" class="form-section hidden">
            <input type="text" id="experiment-name" placeholder="* Experiment Name" class="form-input" />
            <button id="submit-exp-btn" class="submit-btn">Search</button>

        </div>



          
    </main>

    <nav class="navbar">
        <a href="{{ url_for('entry') }}" class="nav-button">Data Entry</a>
        <a href="{{ url_for('query') }}"  class="nav-button">Query</a>
        <a href="{{ url_for('results') }}"class="nav-button">Results</a>
    </nav>

    <script src="{{ url_for('static', filename='js/query.js') }}"></script>

</body>
</html>
