<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Query</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>

<body>
    <a href="{{ url_for('index') }}" class="home-button">Home</a>
    <header>Query</header>
    <main>
        <div class="button-group">
            <button class="entry-button" id="project-btn">Find Post</button>
            <a href="/experiment_query" class="entry-button">Find Experiment</a>
        </div>

        <form id="post-form" class="form-section hidden" action="{{ url_for('search_posts') }}" method="get">
            <input type="text" id="username" name="username"placeholder="Username" class="form-input" />
            <input type="text" id="social-media" name="social_media" placeholder="Social Media" class="form-input" />
            <label for="start-date">Start Date:</label>
            <input type="date" id="start-date" name="start_date" class="form-input" />
            <label for="start-date">End Date:</label>
            <input type="date" id="end-date" name="end_date" class="form-input" />
            <input type="text" id="first-name" name="first_name" placeholder="First Name" class="form-input" />
            <input type="text" id="last-name" name="last_name" placeholder="Last Name" class="form-input" />
            <button id="submit-post-btn" class="submit-btn">Search</button>
        </form>

        <form id="experiment-form" class="form-section hidden">
            <input type="text" id="experiment-name" name="project_name" placeholder="* Experiment Name" class="form-input" required />
            <button id="submit-exp-btn" class="submit-btn" type="button">Search</button>
        </form>



          
    </main>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div id="flash-container">
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
  

    <nav class="navbar">
        <a href="{{ url_for('entry') }}" class="nav-button">Data Entry</a>
        <a href="{{ url_for('query') }}" class="nav-button">Query</a>
    </nav>

    <script src="{{ url_for('static', filename='js/query.js') }}?v=4" defer></script>

</body>
</html>
